# EditorConfig is awesome: https://editorconfig.org
root = true

# The Rust workspace: agentctl, the Sandbox crates and the root build files.
[{agentctl/**,sandbox/**,Makefile,*.toml,.cargo/**}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
indent_style = space
indent_size = 4
tab_width = 4

[Makefile]
indent_style = tab
